config/
.env
.vs/iot-edge-heartbeat/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.suo

slnx.sqlite
*.sln
.vs/slnx.sqlite
.vs/iot-edge-heartbeat/v15/.suo
.vs/VSWorkspaceState.json
